img,
body {
    width: 100vw;
    margin: 0px;
    padding: 0px;
    overflow-x: clip;
}

canvas {
    /* -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5); */
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    border: 5px solid black;
}

div.output {
    display: flex;
    flex-wrap: wrap;
}

li,
ul,
p {
    margin: 0px;
}

#rodControl {
    font-family: "monospace";
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 300px;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 30px;
    background: #ccc;
    border-radius: 16px;
}

input[type="range"]::-moz-range-track {
    height: 30px;
    background: #ccc;
    border-radius: 16px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #000;
    box-shadow: -407px 0 0 390px #2172fa;
}

input[type="range"]::-moz-range-thumb {
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #2172fa;
    box-shadow: -407px 0 0 400px #2172fa;
}